.button {
  border: 0;
  width: 150px;
  height: 70px;
  font-size: large;
  color: black;
  background-color: lightpink;
  text-transform: uppercase;
}

.randomNumber {
  font-size: 30px;
  border-radius: 50px;
  border: 2px solid lightpink;
  height: 100px;
  width: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}
